<div class="footer pt-3" style="text-align: center;">
  <div class="row">
  <div class="col-12 col-md-4">
  <img src="https://tse2.mm.bing.net/th?id=OIP.IElAwp9bsivp-p1oe79_dwAAAA&pid=Api&P=0&h=180" height="100px" width="100px"><br>
  MATURI VENKATA SUBBA RAO (MVSR) ENGINEERING COLLEGE<br>

  (An Autonomous Institution)<br>

  Nadergul, Balapur(Mdl),<br>

  Hyderabad, Telangana 501-510
  </div>
  <div class="col-12 col-md-4" >

      Please contact one the persons below<br> for any issues/glitches.<br>
      <a href="#">saigautam.neela@gmail.com</a><br>
      <a href="#">suryaprakashk747@gmail.com</a><br>
      <a href="#">dinesh.chikka228@gmail.com</a><br>
  </div>
  <div class="col-12 col-md-4">
      Follow us on Social Media.<br>
(Social Media handles shall be revealed soon.)
  </div>
  </div>
  <hr>
  <div style="text-align: center;" class="pb-4">
  <small>&#169;Copyright <b>MVSR.</b> All Rights Reserved.</small>
  </div>
</div>
</body>
</html>
<!-- Section: Design Block -->